body {
    margin: 0px;
}

#game_grid {
    border: 2px cornflowerblue solid;
    width: 600px;
    height: 400px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}


.card {
    all: unset;
    width: 33.3%;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    transition-property: all;
    transition: 1s;
}


img {
    width: 100%
}

.front_face,
.back_face {
    position: absolute;
    backface-visibility: hidden;
}

.flipped {
    transform: rotateY(180deg);
}

.front_face {
    transform: rotateY(180deg);
    
}